* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cabecalho {
    border: 1px solid rgb(215, 237, 245);
    height: 5rem;
    /*box-shadow: .5rem .5rem .3rem .01rem rgb(215, 237, 245) ;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
}

.item {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 1rem;
    margin: .1rem;
    width: 5rem;
    height: 3rem;
    border-radius: .5rem;
}

.container {
    display: flex;
}

.logo {
    flex-grow: 1;
}

.titulo {
    flex-grow: 14;
}

.menu-lateral {

    width: 15rem;
    height: 30rem;
    padding-top: 1rem;
}

.parte-principal {
    /*border: 3px dashed blue;*/
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.tile {
    background-color: #c7c5c5;
    padding: 1rem;
    margin-bottom: .5rem;
    color: blue;
    border-radius: .3rem;
}

.tile:hover {
    background-color: blue;
    color: white;
}

a {
    text-decoration: none;
}

img {
    width: 15rem;
}

.cartao {
    width: 15rem;
    border: 1px solid #c7c5c5;
    height: 22rem;
    box-shadow: .5rem .5rem .3rem .01rem #c7c5c5;
    margin: 1rem;
}

.descricao {
    padding: 1rem;
}

.preco {
    padding: 1rem;
    font-weight: bolder;
    text-align: right;
}